.container_registro {
    flex-direction: column;
    padding: 20px;
}

.form_imagem_wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.quadro_registro {
    margin: 12px;
    width: 45%;
    background-color: rgb(174, 197, 235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#form_registro label {
    margin-bottom: 5px;
    text-align: center;
}

#form_registro input {
    width: 60%;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.civic img {
    margin: 80px;
    width: 100%;
    height: auto;
    max-width: 650px; 
}
.botao_enviar{
    display: flex;
    width: 150px;
}